Unsupervised Learning<br>
No Output or supervisor present<br>
This is first Unsupervised Learning algorithm<br>
Used to find association<br>
First it will check for all products and then store in a tabular format<br>
It will have one more nan column for this dataset<br>
We have to delete nan data

For reading csv file

In [11]:
import pandas as pd
# For getting T,F values of dataset
from mlxtend.preprocessing import TransactionEncoder
# Importing Algorithm
from mlxtend.frequent_patterns import apriori

We have various category and we need to find the association<br>
Dataset contains string data<br>
Error because of nan value, so we set filter parameter as false

In [12]:
data=pd.read_csv("Market_Basket_Optimisation.csv",na_filter=False)
print("Dataset is:\n",data)
# We need to give dataframe in a tabular format with T and F
# Converting to numpy array
data=data.to_numpy()
print("\nDataset after converting to numpy array is:\n",data)

Dataset is:
               shrimp            almonds      avocado    vegetables mix  \
0            burgers          meatballs         eggs
1            chutney
2             turkey            avocado
3      mineral water               milk   energy bar  whole wheat rice
4     low fat yogurt
...              ...                ...          ...               ...
7495          butter         light mayo  fresh bread
7496         burgers  frozen vegetables         eggs      french fries
7497         chicken
7498        escalope          green tea
7499            eggs    frozen smoothie  yogurt cake    low fat yogurt

     green grapes whole weat flour yams cottage cheese energy drink  \
0
1
2
3       green tea
4
...           ...              ...  ...            ...          ...
7495
7496    magazines        green tea
7497
7498
7499

     tomato juice low fat yogurt green tea honey salad mineral water salmon  \
0
1
2
3
4
...           ...            ...       ...   ...   ...           ...    ...
7495
7496
7497
7498
7499

     antioxydant juice frozen smoothie spinach olive oil
0
1
2
3
4
...                ...             ...     ...       ...
7495
7496
7497
7498
7499

[7500 rows x 20 columns]

Dataset after converting to numpy array is:
 [['burgers' 'meatballs' 'eggs' ... '' '' '']
 ['chutney' '' '' ... '' '' '']
 ['turkey' 'avocado' '' ... '' '' '']
 ...
 ['chicken' '' '' ... '' '' '']
 ['escalope' 'green tea' '' ... '' '' '']
 ['eggs' 'frozen smoothie' 'yogurt cake' ... '' '' '']]

For getting T,F values of dataset

In [13]:
tran_enc=TransactionEncoder()
# Doesn't mention name of columns(By Default)
array=tran_enc.fit(data).transform(data)
print("Converted Array is:\n",array)
# Seeing the name of columns
columns=tran_enc.columns_
print("\nName of columns are:\n",columns)

Converted Array is:
 [[ True False False ... False False False]
 [ True False False ... False False False]
 [ True False False ... False False False]
 ...
 [ True False False ... False False False]
 [ True False False ... False False False]
 [ True False False ... False  True False]]

Name of columns are:
 ['', ' asparagus', 'almonds', 'antioxydant juice', 'asparagus', 'avocado', 'babies food', 'bacon', 'barbecue sauce', 'black tea', 'blueberries', 'body spray', 'bramble', 'brownies', 'bug spray', 'burger sauce', 'burgers', 'butter', 'cake', 'candy bars', 'carrots', 'cauliflower', 'cereals', 'champagne', 'chicken', 'chili', 'chocolate', 'chocolate bread', 'chutney', 'cider', 'clothes accessories', 'cookies', 'cooking oil', 'corn', 'cottage cheese', 'cream', 'dessert wine', 'eggplant', 'eggs', 'energy bar', 'energy drink', 'escalope', 'extra dark chocolate', 'flax seed', 'french fries', 'french wine', 'fresh bread', 'fresh tuna', 'fromage blanc', 'frozen smoothie', 'frozen vegetables', 'gluten free bar', 'grated cheese', 'green beans', 'green grapes', 'green tea', 'ground beef', 'gums', 'ham', 'hand protein bar', 'herb & pepper', 'honey', 'hot dogs', 'ketchup', 'light cream', 'light mayo', 'low fat yogurt', 'magazines', 'mashed potato', 'mayonnaise', 'meatballs', 'melons', 'milk', 'mineral water', 'mint', 'mint green tea', 'muffins', 'mushroom cream sauce', 'napkins', 'nonfat milk', 'oatmeal', 'oil', 'olive oil', 'pancakes', 'parmesan cheese', 'pasta', 'pepper', 'pet food', 'pickles', 'protein bar', 'red wine', 'rice', 'salad', 'salmon', 'salt', 'sandwich', 'shallot', 'shampoo', 'shrimp', 'soda', 'soup', 'spaghetti', 'sparkling water', 'spinach', 'strawberries', 'strong cheese', 'tea', 'tomato juice', 'tomato sauce', 'tomatoes', 'toothpaste', 'turkey', 'vegetables mix', 'water spray', 'white wine', 'whole weat flour', 'whole wheat pasta', 'whole wheat rice', 'yams', 'yogurt cake', 'zucchini']

Now we will create a dataframe with values and column names<br>
First column is useless so we drop it (Only used for index values)

In [14]:
df=pd.DataFrame(array,columns=columns).drop([''],axis=1)
print("Dataframe is:\n",df)

Dataframe is:
        asparagus  almonds  antioxydant juice  asparagus  avocado  babies food  \
0          False    False              False      False    False        False
1          False    False              False      False    False        False
2          False    False              False      False     True        False
3          False    False              False      False    False        False
4          False    False              False      False    False        False
...          ...      ...                ...        ...      ...          ...
7495       False    False              False      False    False        False
7496       False    False              False      False    False        False
7497       False    False              False      False    False        False
7498       False    False              False      False    False        False
7499       False    False              False      False    False        False

      bacon  barbecue sauce  black tea  blueberries  ...  turkey  \
0     False           False      False        False  ...   False
1     False           False      False        False  ...   False
2     False           False      False        False  ...    True
3     False           False      False        False  ...   False
4     False           False      False        False  ...   False
...     ...             ...        ...          ...  ...     ...
7495  False           False      False        False  ...   False
7496  False           False      False        False  ...   False
7497  False           False      False        False  ...   False
7498  False           False      False        False  ...   False
7499  False           False      False        False  ...   False

      vegetables mix  water spray  white wine  whole weat flour  \
0              False        False       False             False
1              False        False       False             False
2              False        False       False             False
3              False        False       False             False
4              False        False       False             False
...              ...          ...         ...               ...
7495           False        False       False             False
7496           False        False       False             False
7497           False        False       False             False
7498           False        False       False             False
7499           False        False       False             False

      whole wheat pasta  whole wheat rice   yams  yogurt cake  zucchini
0                 False             False  False        False     False
1                 False             False  False        False     False
2                 False             False  False        False     False
3                 False              True  False        False     False
4                 False             False  False        False     False
...                 ...               ...    ...          ...       ...
7495              False             False  False        False     False
7496              False             False  False        False     False
7497              False             False  False        False     False
7498              False             False  False        False     False
7499              False             False  False         True     False

[7500 rows x 120 columns]

Calculating Support values<br>
Part of algorithm<br>
Passing arguments to algorithm<br>
Value of min_support is greater than 0<br>
After setting this value to 0.05, we will get association of multiple columns<br>
By default use_colnames(Parameter for giving name to columns) value is False<br>
We explicitly needs to set that to True to get column names

In [15]:
print("After applying algorithm, dataset is:\n",apriori(df,min_support=0.01,use_colnames=True))

After applying algorithm, dataset is:
       support                                 itemsets
0    0.020267                                (almonds)
1    0.033200                                (avocado)
2    0.010800                         (barbecue sauce)
3    0.014267                              (black tea)
4    0.011467                             (body spray)
..        ...                                      ...
254  0.011067       (mineral water, milk, ground beef)
255  0.017067  (mineral water, ground beef, spaghetti)
256  0.015733         (mineral water, milk, spaghetti)
257  0.010267    (mineral water, olive oil, spaghetti)
258  0.011467     (mineral water, pancakes, spaghetti)

[259 rows x 2 columns]

In case of 0.04 we are getting 5 rows<br>
In case of 0.01 we are getting many values

In [16]:
support_df=apriori(df,min_support=0.01,use_colnames=True)
# Getting number of elements in dataframe
support_df["Length"]=support_df['itemsets'].apply(lambda x:len(x))
print("Support values are:\n",support_df)

Support values are:
       support                                 itemsets  Length
0    0.020267                                (almonds)       1
1    0.033200                                (avocado)       1
2    0.010800                         (barbecue sauce)       1
3    0.014267                              (black tea)       1
4    0.011467                             (body spray)       1
..        ...                                      ...     ...
254  0.011067       (mineral water, milk, ground beef)       3
255  0.017067  (mineral water, ground beef, spaghetti)       3
256  0.015733         (mineral water, milk, spaghetti)       3
257  0.010267    (mineral water, olive oil, spaghetti)       3
258  0.011467     (mineral water, pancakes, spaghetti)       3

[259 rows x 3 columns]

Checking which rows are having length greater than 2 and support value greater than 0.01<br>
This is the final result for this algorithm as its main purpose is to find association

In [17]:
print("Rows which are having length greater than 2 and support value greater than 0.01 are:\n")
print(support_df[(support_df['Length']>=2) & (support_df['support']>0.01)])

Rows which are having length greater than 2 and support value greater than 0.01 are:

      support                                 itemsets  Length
75   0.011467                 (mineral water, avocado)       2
76   0.011467                          (burgers, cake)       2
77   0.017067                     (burgers, chocolate)       2
78   0.028800                          (burgers, eggs)       2
79   0.022000                  (burgers, french fries)       2
..        ...                                      ...     ...
254  0.011067       (mineral water, milk, ground beef)       3
255  0.017067  (mineral water, ground beef, spaghetti)       3
256  0.015733         (mineral water, milk, spaghetti)       3
257  0.010267    (mineral water, olive oil, spaghetti)       3
258  0.011467     (mineral water, pancakes, spaghetti)       3

[182 rows x 3 columns]